06-TikTok uploader/workflow_1.json
{
  "name": "workflow1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eabc94827",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a3e828d3cc7d",
              "name": "client_key",
              "value": "sba5xpx",
              "type": "string"
            },
            {
              "id": "46a62c",
              "name": "scope",
              "value": "user.info.basic,video.upload",
              "type": "string"
            },
            {
              "id": "fa5989e31",
              "name": "state",
              "value": 156486,
              "type": "number"
            },
            {
              "id": "46ab253e9",
              "name": "redirect_uri",
              "value": "https://",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4bbb122b3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "path": "tiktok-callback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        224
      ],
      "id": "37e2d9a",
      "name": "Webhook",
      "webhookId": "b9ab5f"
    },
    {
      "parameters": {
        "jsCode": "const clientKey = $json.client_key;\nconst redirectUri = encodeURIComponent($json.redirect_uri);\nconst scope = encodeURIComponent($json.scope);\nconst state = $json.state;\n\nconst authUrl =\n`https://www.tiktok.com/v2/auth/authorize/?client_key=${clientKey}&response_type=code&scope=${scope}&redirect_uri=${redirectUri}&state=${state}`;\n\nreturn [\n  {\n    json: {\n      authorization_url: authUrl\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "34cd8049e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com//",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_key",
              "value": "sbxpx"
            },
            {
              "name": "client_secret",
              "value": "5ymqIbJPK"
            },
            {
              "name": "code",
              "value": "={{$json.query.code}}"
            },
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "redirect_uri",
              "value": "https:/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        224
      ],
      "id": "b636774",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "45145b3",
  "meta": {
    "instanceId": "9a0712d6be4"
  },
  "nodeGroups": [],
  "id": "c4M",
  "tags": []
}
