06-TikTok uploader/workflow2.json
{
  "name": "workflow2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        224
      ],
      "id": "927a3c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst folders = fs.readdirSync('/files/files/Pending', {\n  withFileTypes: true,\n});\n\nreturn folders\n  .filter(folder => folder.isDirectory())\n  .map(folder => ({\n    json: {\n      folderName: folder.name,\n    },\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ],
      "id": "977f521c53f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst folder = $input.first().json.folderName;\n\nconst folderPath = `/files/files/Pending/${folder}`;\n\nconst files = fs.readdirSync(folderPath)\n  .filter(file => /\\.(png|jpg|jpeg)$/i.test(file));\n\nreturn files.map(file => ({\n  json: {\n    folder,\n    fileName: file,\n    fullPath: path.join(folderPath, file),\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "1b827c7f855",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fullPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "c12861ff8c31",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "YOUR_UPLOAD_PRESET"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        224
      ],
      "id": "cf39cb4a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -16,
        224
      ],
      "id": "55efb1bf3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const urls = $input.first().json.data.map(item => item.secure_url);\n\nreturn [\n  {\n    json: {\n      photo_images: urls\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        224
      ],
      "id": "505e4922b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "fileSelector": "/files/captions.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        432
      ],
      "id": "17d4af81",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "const captions = $input.first().json.data;\n\nconst random =\n  captions[Math.floor(Math.random() * captions.length)];\n\nreturn [\n  {\n    json: random\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        432
      ],
      "id": "1ef3f7c925a3",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        432
      ],
      "id": "ff60851a2aa7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        400,
        304
      ],
      "id": "935927b83e6d8e1",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/content/init/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TIKTOK_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"PHOTO\",\n  \"post_mode\": \"MEDIA_UPLOAD\",\n  \"post_info\": {\n    \"title\": \"={{ $json.caption }}\",\n    \"description\": \"={{ $json.caption }}\",\n    \"privacy_level\": \"SELF_ONLY\",\n    \"disable_comment\": false,\n    \"disable_duet\": false,\n    \"disable_stitch\": false\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"photo_cover_index\": 0,\n    \"photo_images\": \"={{ $json.photo_images }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        304
      ],
      "id": "834293f032",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "324e5db8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a07ec012d6be4"
  },
  "nodeGroups": [],
  "id": "QEU",
  "tags": []
}
