04- CRM Automation/workflow2.json
{
  "name": "workflow2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        256
      ],
      "id": "8d7b07086",
      "name": "Telegram Trigger",
      "webhookId": "c0fb53",
      "credentials": {
        "telegramApi": {
          "id": "JIUxllI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}",
        "subject": "the form",
        "emailType": "text",
        "message": "you are denied",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        176,
        384
      ],
      "id": "7ba521",
      "name": "Send a message1",
      "webhookId": "bc0333d11c0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "DUpn6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "@",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "6ce61d2ad28"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fffd84b29",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        288
      ],
      "id": "32272715b662a",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}",
        "subject": "the form",
        "emailType": "text",
        "message": "hellow you are accepted ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        224
      ],
      "id": "4f45753f",
      "name": "Send a message",
      "webhookId": "5c81e6541ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "DUpn6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0413987e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a07ec012d6be4"
  },
  "nodeGroups": [],
  "id": "kpW58",
  "tags": []
}
