05-AI Customer Support/AI customer support 2.json
{
  "name": "AI customer support 2",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the company knowledge base to answer customer questions.\n-if you cant find the answer of the message send this message \"I couldn't find the answer , i'll connect you to support service ,please wait \".",
        "qdrantCollection": {
          "__rl": true,
          "value": "FAQ2",
          "mode": "list",
          "cachedResultName": "FAQ2"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "bc6648f9-b2ca-4acf-955a-662973580ee1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "cQ6OTQpAnFtczXVT",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        96,
        256
      ],
      "id": "c5a126ff-0342-4320-a435-f17342c82415",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -48,
        240
      ],
      "id": "b953155f-1f50-4249-bf7b-5337ce4a06f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RnQqohJAwT1H95Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        0
      ],
      "id": "b942a40a-315c-4f3f-9423-a86468aa9afc",
      "name": "Telegram Trigger",
      "webhookId": "55ce90ca-d4d8-44fa-88a6-18ac9613d018",
      "credentials": {
        "telegramApi": {
          "id": "JIUxuyCkKSBAillI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        400
      ],
      "id": "4d2c46e9-72a9-4b80-adef-1b0dddb6b63d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "RnQqohJAwT1H95Z7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "bcaf8bf3-bab7-4639-9e9a-6cc56e876a4f",
      "name": "Send a text message",
      "webhookId": "024ff92d-245c-4950-a19d-846829764ef6",
      "credentials": {
        "telegramApi": {
          "id": "JIUxuyCkKSBAillI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        0
      ],
      "id": "754efb71-10a9-43db-9966-2569dd694eee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70b0510f-4120-49aa-a682-88f7a5ebf454",
              "leftValue": "={{ $json.result.text }}",
              "rightValue": "I couldn't find the answer ",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "4e27b649-dfd6-4eaa-9347-929ac26cfcc8",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "zhany1811@gmail.com",
        "subject": "the support service ",
        "emailType": "text",
        "message": "there is a customer is asking for your help .the model can't answer him .",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -80
      ],
      "id": "03ac7155-7049-4cc6-b289-513869897e0e",
      "name": "Send a message",
      "webhookId": "bb23824c-3d24-4a8d-a18d-e46aeb9c2e3e",
      "credentials": {
        "gmailOAuth2": {
          "id": "DU6Kf0mnSwwPRpn6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "76753bb1-58ff-45ba-991d-a015ff7dcc1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a07ec676bd37633423090822a51714f25f6b939d605af9ca76fbe86012d6be4"
  },
  "nodeGroups": [],
  "id": "6nNl6DFXH2kxP5lP",
  "tags": []
}