02-RSS News Automation/RSS reader.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "url": "http://192.168.1.8:8000/news.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1104,
        16
      ],
      "id": "3e0a3afd-35da-4f4a-9599-3ba51c680127",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "863237a6-14d8-40dd-9cdf-a6e55d63a4fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        208
      ],
      "id": "9029da0f-2f42-43e9-9fd3-4a60e9120e9e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        224
      ],
      "id": "c6edb2b0-b172-49eb-823a-c31796ea14d1",
      "name": "Wait",
      "webhookId": "e7a1d18c-0cd3-4bd0-b1d5-bb8f57946aa4"
    },
    {
      "parameters": {
        "chatId": "1695376217",
        "text": "={{ $json.title }}\n{{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        224
      ],
      "id": "3c9fc0e4-09ba-4fc2-8a7a-89e69db37858",
      "name": "Send a text message1",
      "webhookId": "a81ca08a-aa04-476b-be53-887a1fa804f5",
      "credentials": {
        "telegramApi": {
          "id": "JIUxuyCkKSBAillI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1312,
        16
      ],
      "id": "edde88f4-5e57-4993-b406-4ed44badcd6e",
      "name": "Remove Duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fe305230-cb55-4e74-891a-ccbe1165ce1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a07ec676bd37633423090822a51714f25f6b939d605af9ca76fbe86012d6be4"
  },
  "nodeGroups": [],
  "id": "O0fEvC4l11p2rl9m",
  "tags": []
}