02-RSS News Automation/RSS reader.json
{
  "name": "RSS News Automation",
  "nodes": [
    {
      "parameters": {
        "url": "http://19",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1104,
        16
      ],
      "id": "3e0a3afc680127",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "863233a4fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8InBatches",
      "typeVersion": 3,
      "position": [
        944,
        208
      ],
      "id": "90260e9120e9e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        224
      ],
      "id": "c6ed96ea14d1",
      "name": "Wait",
      "webhookId": "e7a1d18c57946aa4"
    },
    {
      "parameters": {
        "chatId": "16917",
        "text": "={{ $json.title }}\n{{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        224
      ],
      "id": "3c9f858",
      "name": "Send a text message1",
      "webhookId": "a81c4f5",
      "credentials": {
        "telegramApi": {
          "id": "JIUxlI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1312,
        16
      ],
      "id": "eddedcd6e",
      "name": "Remove Duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fe3ce1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a07ec2d6be4"
  },
  "nodeGroups": [],
  "id": "O0fE9m",
  "tags": []
}
